body {
  background-color: rgb(158, 170, 206);
}

button {
  cursor: pointer;
  background-color: wheat;
  margin: 2px;
  border: 1px solid black;
  padding: 3px 5px;
  user-select: none;
}
.btn-remove {
  border-radius: 10px;
  background-color: rgb(201, 48, 44);
  padding: 3px 7px;
  color: white;
}
.new-topic-input {
  border-radius: 10px;
  border: 1px solid white;
  padding: 3px 7px;
  width: 170px;
}
.cancel-btn {
  display: none;
}

.btn-save {
  padding: 5px;
  width: 200px;
  font-size: 18px;
  background-color: #337ab7;
  border: 1px solid rgb(38, 72, 127);
  color: white;
  float: right;
}
.btn-imp {
  font-size: 15px;
  padding: 0px 5px;
}

.input-remarks {
  width: 300px;
  border: 1px solid gray;
  background-color: silver;
}
.topics-container {
  background-color: rgb(42, 158, 110);
  border: 1px solid black;
  padding: 10px;
}

.status-container {
  border: 1px solid black;
  padding: 10px;
}

.sub-topics-container {
  border: 2px solid brown;
}

.sub-topic {
  padding-top: 20px;
}
.progress-container {
  background-color: burlywood;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  padding: 5px;
}
.all-questions {
  background-color: rgb(205, 207, 204);
  border: 1px solid black;
  padding: 10px;
}

.heading-lg {
  font-weight: bold;
  font-size: 2rem;
}
.heading-sm {
  font-weight: bold;
}
.heading-status {
  width: 75px;
  display: inline-block;
  background-color: black;
  padding: 1px;
  margin-right: 5px;
}
.heading-done {
  color: lightgreen;
}
.heading-todo {
  color: skyblue;
}
.heading-optional {
  color: rgb(209, 104, 209);
}
.heading-doubt {
  color: rgb(252, 119, 119);
}
.heading-imp {
  color: yellow;
}

.prev-questions {
  border: 1px solid black;
  height: 200px;
  overflow: auto;
}

.questions-links-container {
  width: 100%;
  height: 200px;
  resize: none;
  display: none;
}

.question {
  display: grid;
  grid-template-columns: 40% auto;
  margin: 5px;
}
.question-link {
  background-color: rgb(164, 216, 208);
  padding: 5px;
}
.question-link:hover {
  background-color: skyblue;
}

.question-actions {
  background-color: silver;
  width: fit-content;
  padding: 5px;
}
.question-viewed {
  background-color: silver;
}

#json-viewer {
  display: none;
  /* color: rgb(190, 229, 245); */
}

.form-elements {
  position: absolute;
  right: 20px;
  top: 28px;
}

.json-local {
  border: 1px solid black;
  display: none;
}

#json-from-local {
  width: 400px;
  height: 100px;
}
