body {
  background-color: cadetblue;
}
button {
  cursor: pointer;
  background-color: wheat;
}

.topics-container {
  background-color: green;
  border: 1px solid black;
  padding: 10px;
}

.status-container {
  border: 1px solid black;
  padding: 10px;
}

.sub-topics-container {
  border: 2px solid brown;
}

.sub-topic {
  padding-top: 20px;
}
.progress-container {
  background-color: burlywood;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  padding: 5px;
}
.all-questions {
  background-color: rgb(207, 204, 204);
  border: 1px solid black;
  padding: 10px;
}
.heading-sm {
  font-weight: bold;
}
.heading-lg {
  font-weight: bold;
  font-size: 2rem;
}

.prev-questions {
  border: 1px solid black;
  height: 200px;
  overflow: auto;
}

.questions-links-container {
  width: 100%;
  height: 200px;
  resize: none;
}
